.right_conatct_social_icon{
     background: #2FA27D;
     width: max-content;
}

.backside {
  background: url('./secure.png');
  flex: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.contact__us{
  display: flex;
  background: url('./hero-bg.png');
  justify-content: space-around;
}
.contact_us {
  flex: 2;
  padding: 2rem;
}

.contact_inner{
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 5px#2ea27d1f;
    border-radius: 25px;
}
.contact_field{
    padding: 60px 200px 60px 50px;
}
.right_conatct_social_icon{
    height: 100%;
}

.contact_field h3{
   color:#2FA27D;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px
}
.contact_field p{
    color:#2FA27D;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.contact_field .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus{
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid#2FA27D;
}
.contact_field .form-control::placeholder{
    font-size: 13px;
    letter-spacing: 1px;
}

.contact_info_sec {
    position: absolute;
    background-color:#2FA27D;
    right: 0;
    top: 13%;
    font-size: 10px;
    height: max-content;
    width: max-content;
    padding: 30px;
    border-radius: 25px 0 0 25px;
}
.contact_info_sec h4{
    padding-bottom: 15px;
}

.info_single{
    margin: 20px 0px;
}
.info_single span{
    font-size: 1rem;
    letter-spacing: 1px;
    margin-left: 1rem;
}

button.contact_form_submit {
    background:#2FA27D;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
.socil_item_inner li{
    list-style: none;
}
.socil_item_inner li a{
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
}
.socil_item_inner{
    padding-bottom: 10px;
}

.shadows{
    box-shadow: 0px 3px 5px#2ea27d44;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 8px;
}

.core-v{
    background-color: rgba(255, 255, 255, 0.471);
}

.shadows:hover{
    box-shadow: 0px 4px 7px#2fa27e8a;
    border-radius: 8px;
    padding: 20px !important;
    background-color: transparent;
}

.map_sec{
    padding: 50px 0px;
}
.map_inner h4 {
    color:#2FA27D;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}
.map_inner p{
    font-size: 13px;
}
.map_bind{
    /* border-radius: 30px; */
    overflow: hidden;
}

.bg-contact{
    background: url('./Contactus.jpg');
    height: 100%;
    width: 100%;
}
.contact_us {
    display: flex;
    gap: 1rem;
    align-items: space-between;
    justify-content: center;
 width: max-content;
}

.divs {
    flex: 1;
    background: url('./Contactus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    background-position: center;
    border-radius: 12px;
    
 width: max-content;
}

.containus{
    flex: 2;
 width: max-content;
}
.contact-row{
    position: relative;
    width: max-content;
    display:  flex;
    flex-wrap: wrap;
}
.column1{
    flex: 2;
    
 width: max-content;
}
.column2{
 width: max-content;
 position: relative;
 flex-wrap: wrap;
}

.contact_inner{
    width: max-content;
}