.image {
    background-image: url("backg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    text-align: center;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: #0000009a;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 2rem;
}

.sideDo {
    flex: 1;
}

.whatWeDo {
    flex: 1;
    text-align: left;
    padding: 2rem;
    font-size: 1.2rem;
}