html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #f9f9f9;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:#f9f9f9;
  text-decoration: none;
}
.para {
  color:#000000;
}
.texts{
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 1rem;
  font-weight: bold;
  color: #2FA27D;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 24px;
  align-self: center;
}
.shadow {
  box-shadow: 4px 4px 8px #2FA27D;
  background-color: white !important;
  padding: 0px 8px;
  border-radius: 8px;
}

.line {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}