html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;
}

body {
  background-color: white;
  color: #f9f9f9;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color:#f9f9f9;
  text-decoration: none;
}
.para {
  color:#000000;
}
.texts{
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 1rem;
  font-weight: bold;
  color: #2FA27D;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 24px;
  align-self: center;
}
.shadow {
  box-shadow: 4px 4px 8px #2FA27D;
  background-color: white !important;
  padding: 0px 8px;
  border-radius: 8px;
}

.line {
  display: inline-block;
}

.blink {
  animation: blink 18s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  20% {
    border-radius: 0px;
    transform: rotate(45deg);
  }

  30% {
    border-radius: 0px;
    transform: rotate(45deg);
  }

  70% {
    border-radius: 50%;
    transform: rotate(180deg);
  }


  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }  
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  .contact_info_sec {
    display: none !important;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
  .contact_info_sec {
    display: none;
  }
}