html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif !important;
}

body {
  background-color: white;
  color: #f9f9f9;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color:#f9f9f9;
  text-decoration: none;
}
.para {
  color:#000000;
}
.texts{
  position: absolute;
  left: 15%;
  right: 15%;
  padding: 1rem;
  font-weight: bold;
  color: #2FA27D;
  background-color: rgba(255, 255, 255, 0.733);
  font-size: 24px;
  align-self: center;
}
.shadow {
  box-shadow: 4px 4px 8px #2FA27D;
  background-color: white !important;
  padding: 0px 8px;
  border-radius: 8px;
}

.line {
  display: inline-block;
}

.blink {
  animation: blink 18s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  
  5% {
    opacity: 1;
    transform: rotate(0deg);
  }

  20% {
    border-radius: 0px;
    transform: rotate(45deg);
  }

  40% {
    border-radius: 0px;
    transform: rotate(45deg);
  }

  50% {
    border-radius: 50%;
    transform: rotate(180deg);
  }


  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }  
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 920px) { 
  .cont {
    display: none !important;
  }
  .divs{
    display: none !important;
  }
  .contact_info_sec, .column2 {
    display: none !important;
  }
  .containus {
    background-color: #000000 !important;
    padding: 0px !important;
    width: max-content !important;
    margin: 0px !important;
  }
 .contact_field {
    padding: 20px !important;
    margin: 0px !important;
    width: 99vw !important;
  }
  .two {
    background-color: #ffffff !important;
    justify-content: space-around !important;
  }
  .testx {
    padding: 2% !important;
    margin: 0% !important;
    width: 40% !important;
  }
}

@media only screen and (max-width: 589px) {
  body {
    font-size: 14px;
  }
  .whatWeDo span{
    display: none !important;
  }
  .whatWeDo h3, .whatWeDo h5{
    font-size: 18px !important;
    text-align: left !important;
    padding: 0% !important;
    margin:1px 0px 12px 18px;
    font-weight: 400 !important;
  }
  .whatWeDo img {
    text-align: left !important;
  }
  .fully {
    flex-wrap: wrap !important;
    padding: 10px 0px 10px 15px !important;
  }
  .cont {
    display: none !important;
  }

  .contact_field h6 {
    font-size: 13px;
  }
}
